:root, :host {
  //////////////////////////////////////////////////////
  // ------------------- Dialog ----------------------//
  //////////////////////////////////////////////////////
  --dialog-wider-width: 1120px;
  //////////////////////////////////////////////////////
  // ------------------- Tab View ----------------------//
  //////////////////////////////////////////////////////
  --tab-view-link-offset-right: 0px;
  --tab-view-padding: 8px 10px;

  --badge-padding: 0px 10px;
}
